---
- name: Pre-cache backup Hombrew and other libraries
  hosts: all

  vars_files:
    - ../../../default.config.yml

  vars:
    envset_cache_max_download_wait: 60
    envset_cache_retries_check: 30

  pre_tasks: []

  roles: []

  tasks:
    - name: Retrieve Homebrew cache dir
      set_fact:
        homebrew_cache: "{{ lookup('pipe', 'brew --cache') }}"
      tags: ["homebrew"]

    - name: Cache Homebrew formulae to {{ homebrew_cache }}
      command: brew fetch "{{ item }}"
      loop: "{{ envsetup_homebrew_installed_packages }}"
      async: "{{ envset_cache_max_download_wait }}"
      poll: 0
      register: hb_brew_fetch_results
      tags: ["homebrew"]

    - name: Check Homebrew formulae downloads
      async_status:
        jid: "{{ item.ansible_job_id }}"
      loop: "{{ hb_brew_fetch_results.results }}"
      register: hb_brew_fetch_jobs
      until: hb_brew_fetch_jobs.finished
      retries: "{{ envset_cache_retries_check }}"
      delay: 2
      tags: ["homebrew"]

    - name: Cache Homebrew casks to {{ homebrew_cache }}
      command: brew fetch --cask "{{ item }}"
      loop: "{{ envsetup_homebrew_cask_apps }}"
      async: "{{ envset_cache_max_download_wait }}"
      poll: 0
      register: hb_brew_fetch_cask_results
      tags: ["homebrew"]

    - name: Check Homebrew casks downloads
      async_status:
        jid: "{{ item.ansible_job_id }}"
      loop: "{{ hb_brew_fetch_cask_results.results }}"
      register: hb_brew_fetch_cask_jobs
      until: hb_brew_fetch_cask_jobs.finished
      retries: "{{ envset_cache_retries_check }}"
      delay: 2
      tags: ["homebrew"]


    - name: Generate Homebrew Dump
      command: brew bundle dump --file=-
      tags: ["hb_brewfile"]


    - name: Require PHP packages
      community.general.composer:
        command: require
        global_command: true
        #arguments: "--no-install {{ item.name }}"
        arguments: "--no-install {{ composer_packages | map(attribute='name') | join(' ') }}"
      #loop: "{{ composer_packages }}"
      tags: ["php"]

    - name: Cache PHP packages
      community.general.composer:
        command: install
        global_command: true
        arguments: --download-only
      tags: ["php"]


    # @TODO: Cache for RUST/PHP/GO/RUBY/NODE/PYTHON

    # @TODO: Generate config.yml

  post_tasks: []
