---
- name: Pre-cache backup Hombrew and other libraries
  hosts: all

  vars_files:
    - ../../../default.config.yml

  vars:
    envset_cache_max_download_wait: 60
    envset_cache_retries_check: 30

  pre_tasks: []

  roles: []

  tasks:
    - name: Retrieve Homebrew cache dir
      set_fact:
        homebrew_cache: "{{ lookup('pipe', 'brew --cache') }}"
      tags: ["hb_formulae"]

    - name: Cache Homebrew formulae to {{ homebrew_cache }}
      command: brew fetch "{{ item }}"
      loop: "{{ envsetup_homebrew_installed_packages }}"
      async: "{{ envset_cache_max_download_wait }}"
      poll: 0
      register: hb_brew_fetch_results
      tags: ["hb_formulae"]

    - name: Check Homebrew formulae downloads
      async_status:
        jid: "{{ item.ansible_job_id }}"
      loop: "{{ hb_brew_fetch_results.results }}"
      register: hb_brew_fetch_jobs
      until: hb_brew_fetch_jobs.finished
      retries: "{{ envset_cache_retries_check }}"
      delay: 2
      tags: ["hb_formulae"]

    - name: Cache Homebrew casks to {{ homebrew_cache }}
      command: brew fetch --cask "{{ item }}"
      loop: "{{ envsetup_homebrew_cask_apps }}"
      async: "{{ envset_cache_max_download_wait }}"
      poll: 0
      register: hb_brew_fetch_cask_results
      tags: ["hb_casks"]

    - name: Check Homebrew casks downloads
      async_status:
        jid: "{{ item.ansible_job_id }}"
      loop: "{{ hb_brew_fetch_cask_results.results }}"
      register: hb_brew_fetch_cask_jobs
      until: hb_brew_fetch_cask_jobs.finished
      retries: "{{ envset_cache_retries_check }}"
      delay: 2
      tags: ["hb_casks"]


    - name: Generate Homebrew Dump
      command: brew bundle dump --file=-
      tags: ["hb_brewfile"]


    - name: Ensure Composer cache directory exists
      ansible.builtin.file:
        path: "{{ composer_cache_directory | expanduser }}" # expanduser to handle ~
        state: directory
        mode: '0755'
      tags: ["php"]

    - name: Cache Composer plugins
      community.general.composer:
        command: download # Download only
        arguments: "{{ item.name }}"
        global_command: true # Matches how they are installed in 04-packages
        composer_home: "{{ composer_cache_directory | expanduser }}"
      loop: "{{ composer_plugins }}"
      when: composer_plugins is defined and composer_plugins | length > 0
      ignore_errors: true # Continue if a package fails to cache
      tags: ["php"]

    - name: Cache Composer packages
      community.general.composer:
        command: download # Download only
        arguments: "{{ item.name }}"
        global_command: true # Matches how they are installed in 04-packages
        composer_home: "{{ composer_cache_directory | expanduser }}"
      loop: "{{ composer_packages }}"
      when: composer_packages is defined and composer_packages | length > 0
      ignore_errors: true # Continue if a package fails to cache
      tags: ["php"]

    # @TODO: Cache for RUST/PHP/GO/RUBY/NODE/PYTHON

    # @TODO: Generate config.yml

  post_tasks: []
