---
- name: Pre-cache backup Hombrew and other libraries
  hosts: all

  vars_files:
    - ../../../default.config.yml

  vars:
    envset_cache_max_download_wait: 60
    envset_cache_retries_check: 30

  pre_tasks: []

  roles: []

  tasks:
    - name: Retrieve Homebrew cache dir
      set_fact:
        homebrew_cache: "{{ lookup('pipe', 'brew --cache') }}"
      tags: ["homebrew"]

    - name: Retrieve PHP Composer cache dir
      set_fact:
        composer_cache: "{{ lookup('pipe', 'composer global config cache-dir') }}"
      tags: ["php"]
    
    - name: Retrieve Ruby Gem cache dir
      set_fact:
        gem_cache: "/Users/{{ ansible_user_id }/Library/Caches/gem"
        #  gem_cache: "{{ looup('pipe', 'gem env gemdir') }}"
      tags: ["ruby"]

    - name: Create Ruby Gem cache dir {{ gem_cache }}
      ansible.builtin.file:
        path: "{{ gem_cache }}"
        state: directory
        mode: '0755'

    - name: Cache Homebrew formulae to {{ homebrew_cache }}
      command: brew fetch "{{ item }}"
      loop: "{{ envsetup_homebrew_installed_packages }}"
      async: "{{ envset_cache_max_download_wait }}"
      poll: 0
      register: hb_brew_fetch_results
      tags: ["homebrew"]

    - name: Check Homebrew formulae downloads
      async_status:
        jid: "{{ item.ansible_job_id }}"
      loop: "{{ hb_brew_fetch_results.results }}"
      register: hb_brew_fetch_jobs
      until: hb_brew_fetch_jobs.finished
      retries: "{{ envset_cache_retries_check }}"
      delay: 2
      tags: ["homebrew"]

    - name: Cache Homebrew casks to {{ homebrew_cache }}
      command: brew fetch --cask "{{ item }}"
      loop: "{{ envsetup_homebrew_cask_apps }}"
      async: "{{ envset_cache_max_download_wait }}"
      poll: 0
      register: hb_brew_fetch_cask_results
      tags: ["homebrew"]

    - name: Check Homebrew casks downloads
      async_status:
        jid: "{{ item.ansible_job_id }}"
      loop: "{{ hb_brew_fetch_cask_results.results }}"
      register: hb_brew_fetch_cask_jobs
      until: hb_brew_fetch_cask_jobs.finished
      retries: "{{ envset_cache_retries_check }}"
      delay: 2
      tags: ["homebrew"]

    # @TODO: Move to a separate area
    - name: Generate Homebrew Dump
      command: brew bundle dump --file=-
      tags: ["hb_brewfile"]
    # @TODO: Move to a separate area

    - name: Require PHP Composer packages to {{ composer_cache }}
      community.general.composer:
        command: require
        global_command: true
        arguments: "--no-install {{ composer_packages | map(attribute='name') | join(' ') }}"
      tags: ["php"]

    - name: Cache PHP Composer packages to {{ composer_cache }}
      community.general.composer:
        command: install
        global_command: true
        arguments: --download-only
      tags: ["php"]
    
    - name: Cache Ruby gems to {{ gem_cache }}
      ansible.builtin.command:
        cmd: gem fetch "{{ item.name }}"
      args:
        chdir: "{{ gem_cache }}"
      loop: "{{ gem_packages }}"
      ignore_errors: yes
      tags: ["ruby"]

    # @TODO: Create packaged bundle 
    # {{ gem_cache }}
    # ```
    # gem install --local redis-3.3.5.gem
    # 1. cat << EOF > Gemfile
    # source "https://rubygems.org"

    # gem "zonefile"
    # EOF
    # ```
    # 2. bundle package --no-install
    # 3. bundle install --local

    - name: Create NPM cache directory
      ansible.builtin.file:
        path: "{{ downloads }}/npm"
        state: directory
        mode: '0755'
      tags: ["node"]

    - name: Cache NPM packages to {{ downloads }}/npm
      ansible.builtin.command:
        cmd: npm pack "{{ item }}"
        chdir: "{{ downloads }}/npm"
      loop: "{{ npm_packages }}"
      ignore_errors: yes
      tags: ["node"]
    
    #npm install --offline
    #https://g.co/gemini/share/6ba9c7285852

    - name: Create Pip cache directory
      ansible.builtin.file:
        path: "{{ downloads }}/pip"
        state: directory
        mode: '0755'
      tags: ["python"]

    - name: Cache Python pip packages to {{ downloads }}/pip
      ansible.builtin.command:
        cmd: pip download "{{ item.name | default(item) }}" -d "{{ downloads }}/pip"
        chdir: "{{ downloads }}/pip"
      loop: "{{ pip_packages }}"
      ignore_errors: yes
      tags: ["python"]

    # @TODO: Cache for RUST/GO/RUBY/NODE/PYTHON

    # @TODO: Generate config.yml

  post_tasks: []
